/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* BODY */
body {
    background: #0f172a;
    color: #fff;
    padding: 20px;
}

/* TÍTULO */
h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* LINHA */
hr {
    margin-bottom: 20px;
    border: none;
    height: 2px;
    background: #22c55e;
}

/* LISTA */
.lista-saude {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

/* DEIXAR TODOS OS CARDS DO MESMO TAMANHO */
.lista-saude li {
    background: #1e293b;
    padding: 15px;
    border-radius: 12px;
    transition: 0.2s;
    border-left: 5px solid #22c55e;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100px;

    /* controla o tamanho padrão */
}

/* HOVER */
.lista-saude li:hover {
    transform: scale(1.02);
}

/* TÍTULO DO CARD */
.lista-saude h2 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #22c55e;
}

/* TEXTO */
.lista-saude p {
    font-size: 14px;
    line-height: 1.4;
    color: #cbd5f5;
}

/* HORÁRIO */
.horario {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #94a3b8;
}

/* DESTAQUE (UBS com horário diferente) */
.horario.destaque {
    color: #22c55e;
    font-weight: bold;
}

/* CATEGORIAS */
.categoria {
    margin: 25px 0 10px;
    color: #22c55e;
    font-size: 18px;
    border-left: 5px solid #22c55e;
    padding-left: 10px;
}

/* HORÁRIO */
.horario {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #94a3b8;
}

/* DESTAQUE (24H ou DIFERENTE) */
.horario.destaque {
    color: #22c55e;
    font-weight: bold;
}