* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0a3d62, #1e90ff);
    color: #fff;
    padding: 20px;
}

/* MAPA */
#map {
  width: 80%;
  max-width: 900px;
  height: 400px;
  margin: 20px auto;
  border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

/* LINHA */
hr {
    margin-bottom: 20px;
    border: none;
    height: 2px;
    background: #22c55e;
}

.lista-saude {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 15px;
}

/* HEADER */
header {
    background: #0a3d62;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header h1 {
    margin-left: 10px;
}

/* MENU */
.menu-container {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
}

.menu a {
    text-decoration: none;
}

nav button {
    background-color: #0a3d62;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

nav button:hover {
    background-color: #bfd9ec;
}

/* SUBMENU */
.submenu-container {
    position: relative;
}

.submenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    left: 0;
    max-width: 90vw;
    /* impede passar da tela */
    background: white;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 2000;
}

.submenu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
}

.submenu a:hover {
    background: #f0f0f0;
}

.submenu.active {
    display: flex;
}

/* HAMBURGER */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    height: 4px;
    width: 25px;
    background-color: white;
    margin: 3px 0;
    border-radius: 5px;
}

/* DEIXAR TODOS OS CARDS DO MESMO TAMANHO */
.lista-saude li {
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    transition: 0.2s;
    border-left: 5px solid #22c55e;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

/* HOVER */
.lista-saude li:hover {
    transform: scale(1.02);
}

.lista-saude h2 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #000000;
}

.lista-saude p {
    font-size: 14px;
    line-height: 1.4;
    color: #2d2e31;
}

.horario {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #000000;
}



.categoria {
    margin: 25px 0 10px;
    color: #22c55e;
    font-size: 18px;
    border-left: 5px solid #22c55e;
    padding-left: 10px;
}

/* HORÁRIO */
.horario {
    display: block;
    margin-top: 10px;
    font-size: 13px;
    color: #000000;
}

/* DESTAQUE (24H ou DIFERENTE) */
.horario.destaque {
    color: #22c55e;
    font-weight: bold;
}