/* MAPA */
#map {
  width: 80%;
  max-width: 900px;
  height: 400px;
  margin: 20px auto;
  border-radius: 10px;
}

/*DESCRICAO DOS EQUIPAMENTOS*/
.descricao{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  margin-top: 10px;
  background: #f1f5f9;
  border-radius: 8px;
  color: #333;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.lista-saude li.ativo .descricao{
  max-height: 200px;
  opacity: 1;
  padding: 10px;
}